:root{
  --gray: #31343a;
  --yellow: #f7b414;
  --dark_yellow: #b28211;
}
html, body {
  width:100%;
  margin:0
}
.staff_wrapper{
  flex:1
}
#nav_div{
  background-color: var(--yellow);
  transition-duration: 0.5s;
  z-index:1;
  width:0;
  height:100%;
  white-space: nowrap;
  display:flex;
  flex-direction: column;
  position:fixed;
  top:0;
  left:0;
  overflow-x: hidden;
  padding-top: 2em
}
.nav_div_item {
  text-align: center;
}
#main_page{
  position:relative;
  padding-left: 1em;
  background-color: var(--gray);
  color:white;
  display: flex;
  transition:margin-left .5s;
}
#menu_button {
  position:absolute;
  left: 1em;
  top: 1em;
  background-color: transparent;
  border:none;
  padding:none
}
#menu_button:focus{
  outline:none;
  border:none
}
.nav-link {
  display:block;
  color:black;
  transition-duration: 0.3s;
}
.nav-link:hover{
  transform: scale(1.3);
  color:black
}
.form-control {
  width:20em
}
#login_button{
  background-color: var(--yellow);
  padding: 0.3em 1em 0.3em 1em;
  border:none;
  border-radius:10px;
  color:white;
  justify-self: center;
}
div .login {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-group {
  display:flex;
  justify-content: center;
}
.staff_nav{
  flex:1
}
.staff_menu {
  height: 4em;
  display:flex;
  flex-direction: row;
  padding-left:8em;
  gap: 1em;
  align-items: flex-end;
  justify-content: space-around;
  width:50%;
}

.staff_tab {
  width: 25em;
  height: 3em;
  cursor:pointer;
  border-radius: 1.5em 1.5em 0 0;
  position:relative;
}

.staff_tab > .nav-link{
  padding-top: 1em;
  z-index:3;
}
.staff_tab[data-mode='selected']{
  background-color:var(--dark_yellow);
}
.staff_tab[data-mode='not_selected']{
  background-color: var(--gray);
}
.staff_tab[data-mode='not_selected']:hover{
  background-color: var(--dark_yellow);
  opacity:0.5;
  transform:scale(1)
}
.staff_tab[data-mode='not_selected']:hover:before{
  content:'';
  position:absolute;
  height: 3em;
  width:3em;
  border-radius: 1.5em;
  left:-3em;
  box-shadow: 1.5em 1.5em  rgba(178, 130, 17);
}
.staff_tab[data-mode='not_selected']:hover:after{
  content:'';
  position:absolute;
  height: 3em;
  width:3em;
  border-radius: 1.5em;
  right:-3em;
  top:0em;
  box-shadow: -1.5em 1.5em  rgba(178, 130, 17);
}
.staff_tab[data-mode='selected']::before{
  content:'';
  position:absolute;
  height: 3em;
  width:3em;
  border-radius: 1.5em;
  left:-3em;
  box-shadow: 1.5em 1.5em  var(--dark_yellow);
}
.staff_tab[data-mode='selected']::after{
  content:'';
  position:absolute;
  height: 3em;
  width:3em;
  top:0em;
  right:-3em;
  border-radius: 1.5em;
  box-shadow: -1.5em 1.5em  var(--dark_yellow);
  z-index:0
}

.browse {
  background-color: #b28211;
  display:none;
  height: 100vw;
  padding: 2em;
}
.initial {
  display:block
}
.recipe_filter {
  height: 100px;
  width: 100%;
  background-color: antiquewhite;
}