
:root{
  --gray: #31343a;
  --yellow: #f7b414;
  --dark_yellow: #b28211;
}
html, body {
  margin:0
}
#nav_div{
  background-color: var(--yellow);
  transition-duration: 0.5s;
  z-index:1;
  width:0;
  height:100%;
  white-space: nowrap;
  display:flex;
  flex-direction: column;
  position:fixed;
  top:0;
  left:0;
  overflow-x: hidden;
  padding-top: 2em
}
.nav_div_item {
  text-align: center;
}
#main_page{
  position:relative;
  padding:0 1em 0 1em;
  background-color: var(--gray);
  color:white;
  transition:margin-left .5s;
  min-height: 100vh;
}
#menu_button {
  position:absolute;
  left: 1em;
  top: 1em;
  background-color: transparent;
  border:none;
  padding:none
}
#menu_button:focus{
  outline:none;
  border:none
}
.nav-link {
  display:block;
  color:black;
  transition-duration: 0.3s;
}
.nav-link:hover{
  transform: scale(1.3);
  color:black
}
.form-control {
  width:20em
}
#login_button{
  background-color: var(--yellow);
  padding: 0.3em 1em 0.3em 1em;
  border:none;
  border-radius:10px;
  color:white;
  justify-self: center;
}
div .login {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-group {
  display:flex;
  justify-content: center;
}
.staff_nav{
  flex:1
}
.staff_menu {
  height: 4em;
  display:flex;
  flex-direction: row;
  padding-left:8em;
  gap: 1em;
  align-items: flex-end;
  justify-content: space-around;
  width:50%;
}

.staff_tab {
  width: 25em;
  height: 3em;
  cursor:pointer;
  border-radius: 1.5em 1.5em 0 0;
  position:relative;
}
.staff_tab > .nav-link{
  padding-top: 1em;
}
.staff_tab[data-mode='selected']{
  background-color:var(--dark_yellow);
}
.staff_tab[data-mode='not_selected']{
  background-color: var(--gray);
}
.staff_tab[data-mode='not_selected']:hover{
  background-color: var(--dark_yellow);
  opacity:0.5;
  transform:scale(1)
}
.staff_tab[data-mode='not_selected']:hover:before{
  content:'';
  position:absolute;
  height: 3em;
  width:3em;
  border-radius: 1.5em;
  left:-3em;
  box-shadow: 1.5em 1.5em  rgba(178, 130, 17);
}
.staff_tab[data-mode='not_selected']:hover:after{
  content:'';
  position:absolute;
  height: 3em;
  width:3em;
  border-radius: 1.5em;
  right:-3em;
  top:0em;
  box-shadow: -1.5em 1.5em  rgba(178, 130, 17);
}
.staff_tab[data-mode='selected']::before{
  content:'';
  position:absolute;
  height: 3em;
  width:3em;
  border-radius: 1.5em;
  left:-3em;
  box-shadow: 1.5em 1.5em  var(--dark_yellow);
}
.staff_tab[data-mode='selected']::after{
  content:'';
  position:absolute;
  height: 3em;
  width:3em;
  top:0em;
  right:-3em;
  border-radius: 1.5em;
  box-shadow: -1.5em 1.5em  var(--dark_yellow);
  z-index:0
}

.browse {
  width:100%;
  background-color: #b28211;
  display:none;
  padding: 2em;
  flex-direction: column;
}
.initial {
  display:flex
}
.recipe_filter {
  height: 100px;
  background-color: antiquewhite;
}

.item_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1em;
  height: 2em;
  border-radius:1em
}

.column {
  height: 2em;
  text-align: center;
  min-width: 0;
  padding:0.25em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color:black;
  background-color: aliceblue;
  border-left: 1px solid black

}
.filter {
  
  height: 2em;
  border:none;
  text-align: center;
  padding: none;
  background-color: var(--yellow);
}
.filters > .column{
  padding:0;
  background-color:var(--yellow);
  line-height: 2em;
}
.first {
  border-left:none
}
.column:hover{
  overflow: visible; 
  white-space: normal;
  height:auto;
  word-wrap:break-word;
}
input{
  width:100%;
  border:none;
  background-color: inherit;
}
input:focus{
  border:none;
  outline:none
}
select{
  width:100%;
  border:none;
  background-color: inherit;
}
select:focus{
  border:none;
  outline:none
}
input:focus {
  border:none;
  outline: none
}
.slim {
  flex:1
}
.wide{
  flex:2
}
.ultra-slim {
  flex:0.5
}
.popup{
  width:30vw;
  position:fixed;
  opacity:0;
  overflow: hidden;
  max-height: 0;
  right:0;
  left:0;
  top:5%;
  margin:auto;
  transform:tranlateY(-50%); 
  background-color:var(--yellow);
  z-index: 1;
  transition:1s;
  padding: 0
}
.popup.show{
  max-height: 1000px;
  box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, .3);
  opacity:1;
  padding:1em;
  overflow: visible;
}
.popup .form_field {
  margin-top:1em
}
.popup input, .popup select {
  width:fit-content;
  background-color: white;
  border:1px solid black;
  padding:0;
}
.label {
  margin:0;
  color:black;
  margin-bottom:0.5em
}
.dropbtn {
  background-color: transparent;
  position:absolute;
  padding:0;
  right:0;
  border:none;
  font-size: smaller;
  display:flex;
  align-items: center;
  justify-content: center;
  height:100%;
  width:2em
}
.dropbtn:focus{
  border:none;
  outline:none
}
.dropbtn.active {
  outline:none;
  color: #f7b414;
}
.dropdown.show{
  display:block;
  height: 15em;
  overflow: overlay;
}
.dropdown {
  display:none;
  position:absolute;
  border:1px solid black;
  overflow-y: scroll;
  background-color: var(--yellow);
  z-index:1;
  }
.dropdown input {
  width:fit-content;
  border:none;
  padding-left: 1em;
}
.dropdown label {
  margin-left: 0.5em
}
input[type='checkbox'] {
  accent-color: var(--dark_yellow);
}

.dropdown_container {
  position:relative;
  width:fit-content;
  margin-top:1px;
  display:flex;
  align-items: center
}
.dropdown_container > input {
  padding-right:1.5em;
}
.dropicon{
  opacity:0.75
}
.open_btn {
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.5s;
}

.open_btn:hover{
  width:13em;
  outline:0.5px solid black;
}
.center{
  display:flex;
  align-items: center;
  justify-content: center;
}
.icon{
  height:2em;
  padding: 0 8px 0 8px
}
.popup_button{
  display:flex;
  border:none;
  height: 2em;
  width:2em;
  background-color: var(--yellow);
  opacity:0.5;
  border-radius: 1em;
  padding-left:0;
  transition-duration:0.5s
}
.popup_button:hover {
  opacity:1
}
.popup_button:focus {
  border:none;
  outline:none
}
.close_btn {
  position:absolute;
  right:0
}
.popup input[type='submit']{
  opacity:0.75;
  background-color: transparent;
  position:absolute;
  right:0.5em;
  bottom:0.5em;
  border:none;
  transition:0.5s
}
.popup input[type='submit']:hover {
  opacity:1;
}
