:root{
  --gray: #31343a;
  --yellow: #f7b414;
  --dark_yellow: #b28211;
}
html, body {
  margin:0
}
#nav_div{
  background-color: var(--yellow);
  transition-duration: 0.5s;
  z-index:1;
  width:0;
  height:100%;
  white-space: nowrap;
  display:flex;
  flex-direction: column;
  position:fixed;
  top:0;
  left:0;
  overflow-x: hidden;
  padding-top: 2em
}
.nav_div_item {
  text-align: center;
}
#main_page{
  position:relative;
  padding:0 1em 0 1em;
  background-color: var(--gray);
  color:white;
  transition:margin-left .5s;
  min-height: 100vh;
}
#menu_button {
  position:absolute;
  left: 1em;
  top: 1em;
  background-color: transparent;
  border:none;
  padding:none
}
#menu_button:focus{
  outline:none;
  border:none
}
.nav-link {
  display:block;
  color:black;
  transition-duration: 0.3s;
}
.nav-link:hover{
  transform: scale(1.3);
  color:black
}
.form-control {
  width:20em
}
#login_button{
  background-color: var(--yellow);
  padding: 0.3em 1em 0.3em 1em;
  border:none;
  border-radius:10px;
  color:white;
  justify-self: center;
}
div .login {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-group {
  display:flex;
  justify-content: center;
}
.staff_nav{
  flex:1
}
.staff_menu {
  height: 4em;
  display:flex;
  flex-direction: row;
  padding-left:8em;
  gap: 1em;
  align-items: flex-end;
  justify-content: space-around;
  width:50%;
}

.staff_tab {
  width: 25em;
  height: 3em;
  cursor:pointer;
  border-radius: 1.5em 1.5em 0 0;
  position:relative;
}

.staff_tab > .nav-link{
  padding-top: 1em;
  z-index:3;
}
.staff_tab[data-mode='selected']{
  background-color:var(--dark_yellow);
}
.staff_tab[data-mode='not_selected']{
  background-color: var(--gray);
}
.staff_tab[data-mode='not_selected']:hover{
  background-color: var(--dark_yellow);
  opacity:0.5;
  transform:scale(1)
}
.staff_tab[data-mode='not_selected']:hover:before{
  content:'';
  position:absolute;
  height: 3em;
  width:3em;
  border-radius: 1.5em;
  left:-3em;
  box-shadow: 1.5em 1.5em  rgba(178, 130, 17);
}
.staff_tab[data-mode='not_selected']:hover:after{
  content:'';
  position:absolute;
  height: 3em;
  width:3em;
  border-radius: 1.5em;
  right:-3em;
  top:0em;
  box-shadow: -1.5em 1.5em  rgba(178, 130, 17);
}
.staff_tab[data-mode='selected']::before{
  content:'';
  position:absolute;
  height: 3em;
  width:3em;
  border-radius: 1.5em;
  left:-3em;
  box-shadow: 1.5em 1.5em  var(--dark_yellow);
}
.staff_tab[data-mode='selected']::after{
  content:'';
  position:absolute;
  height: 3em;
  width:3em;
  top:0em;
  right:-3em;
  border-radius: 1.5em;
  box-shadow: -1.5em 1.5em  var(--dark_yellow);
  z-index:0
}

.browse {
  width:100%;
  background-color: #b28211;
  display:none;
  padding: 2em;
  flex-direction: column;
}
.initial {
  display:block
}
.recipe_filter {
  height: 100px;
  background-color: antiquewhite;
}

.item_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1em;
  height: 2em;
  border-radius:1em
}

.column {
  height: 2em;
  text-align: center;
  min-width: 0;
  padding:0.25em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color:black;
  background-color: aliceblue;
  border-left: 1px solid black

}
.filter {
  
  height: 2em;
  border:none;
  text-align: center;
  padding: none;
  background-color: var(--yellow);
}
.filters > .column{
  padding:0;
  background-color:var(--yellow);
  line-height: 2em;
}
.first {
  border-left:none
}
.column:hover{
  overflow: visible; 
  white-space: normal;
  height:auto;
  word-wrap:break-word;
}
input{
  width:100%;
  border:none;
  background-color: inherit;
}
input:focus{
  border:none;
  outline:none
}
select{
  width:100%;
  border:none;
  background-color: inherit;
}
select:focus{
  border:none;
  outline:none
}
input:focus {
  border:none;
  outline: none
}
.slim {
  flex:1
}
.wide{
  flex:2
}
.ultra-slim {
  flex:0.5
}
.form{
  position:relative
}
.form_button{
  position:absolute;
  right:-1em;
  bottom:0;
  width:2em;
  height: 2em;
  border-radius:1em;
  border: none;
  background-color: green;
}

.popup{
  width:50vw;
  position:fixed;
  height: 80vh;
  right:0;
  left:0;
  top:5%;
  margin:auto;
  transform:tranlateY(-50%); 
  border:1px solid black;
  background-color:var(--yellow);
  overflow-y: scroll;
  z-index: 2;
  padding:1em;
}

.popup .form_field {
  margin-top:1em
}
.popup input, .popup select {
  width:fit-content;
  background-color: white;
  border:1px solid black;

}
.label {
  margin:0;
  color:black
}
.dropbtn {
  background-color: transparent;
  position:absolute;
  padding:0;
  right:-1em;
  border:none;
  font-size: smaller;
  display:flex;
  align-items: center;
  justify-content: center;
  height:100%;
  width:2em
}
.dropbtn:focus{
  border:none;
  outline:none
}
.dropbtn.active {
  outline:none;
  color: #f7b414;
}
.dropdown.show{
  display:block
}
.dropdown {
  display:none;
  position:absolute;
  border:1px solid black;
  height: 40%;
  overflow-y: scroll;
  background-color: var(--yellow);
  z-index:1
}
.dropdown input {
  width:fit-content;
}
.dropdown label {
  margin-left: 0.5em
}
input[type='checkbox'] {
  accent-color: var(--dark_yellow);
}

.dropdown_container {
  position:relative;
  width:40%;
  margin-top:1em;
  display:flex;
  align-items: center
}
.dropdown_container > input {
  padding-right:1.5em;
}
.dropicon{
  opacity:0.75
}