{% extends 'Blackboard/layout.html' %}

{% block body %}
<div class='popup' id='recipe_add'>
  <form id='recipe_form' method='Post' action='/add_item/recipe'>
    {% csrf_token %}
    {% for field in recipe_form %}
    <div class='form_field'>
      <h5 class='label'>
      {{field.label}}
      </h5>
      {% if field.name == 'ingredients'%}
      <div class='dropdown'>
        <button class='btn btn-secondary dropdown-toggle' type='button' id='dropdownMenuButton' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ingredients
        </button>
        <div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>
          {% for ingredient in ingredients %}
          <p class='dropdown-item'>{{ingredient|capfirst}}</p>
          {% endfor %}
        </div>
      </div>
      {% elif field.name == 'key_ingredients'%}
      Tu kluczowe składniki
      {% else %}
      {{field}}
      {% endif %}

    </div>
    {% endfor %}
    <input type='submit'>
  </form>
</div>
<div class='main staff'>
  <nav class='staff_nav'>
    <div class='staff_menu'>
        <div data-mode='not_selected' id='ingredients_tab' class='nav_div_item staff_tab'>
          <a class='nav-link'>Ingredients</a>
        </div>
        <div data-mode='selected' id='recipes_tab' class='nav_div_item staff_tab'>
          <a class='nav-link'>Recipes</a>
        </div>
        <div data-mode='not_selected' id='blackboards_tab' class='nav_div_item staff_tab'>
          <a class='nav-link'>Blackboards</a>
        </div>
    </div>
  </nav>
    <div class='browse' id='ingredients_tab_div'>
      <div class = 'filters item_container'>
        <div class = 'column first ultra-slim'>
          <select class='select ingredients filter' data-model='ingredients' data-name='type'>
            <option value='' selected>Type</option>
            <option value='ingredient'>Ingredient</option>
            <option value='keyingredient'>Key Ingredient</option>
            <option value='pasta'>Pasta</option>
          </select>
        </div>
        <div class='column wide'>
          <input class='input ingredients filter' data-model='ingredients' data-name='name' value='Name'>
        </div>
      </div>
      <div class='form' id='ingredients_form' display='none'>
        <form id='ingredient_form' class='item_container' method='Post' action='/add_item/ingredient'>
          {% csrf_token%}
          <div class='column first ultra-slim'>
            {{ ingredient_form.type }}
          </div>
          <div class='column wide'>
          {{ingredient_form.name}}
          </div>
        </form>
        <input class='form_button' form='ingredient_form' value='+' type='submit'>
      </div>
      <div id='ingredients_wrapper'>
      </div>
    </div>
    <div class='browse initial' id='recipes_tab_div'>
        <div class='filters item_container'>
          <div class='column first wide'>
            <input class='recipe filter input' type='search' data-model='recipe' data-name='name' value='Name'>
          </div>
          <div class='recipe_season column slim'>
            <select class='recipe filter select' data-model='recipe' data-name='season'>
              <option value=""  selected>Season</option>
              <option value="Spring">Spring</option>
              <option value="Summer">Summer</option>
              <option value="Fall">Fall</option>
              <option value="Winter">winter</option>
            </select>
          </div>
          <div class='column slim'>
            <select class='recipe filter select' data-model='recipe' data-name='type'>
              <option value="" selected>Type</option>
              <option value="Starter">Starter</option>
              <option value="Main">Main</option>
              <option value="Dessert">Dessert</option>
            </select>
          </div>
          <div class='column wide'>
            <input class='recipe filter input' type='search' data-model='recipe' data-name='key_ingredient' value='Key Ingredient'>
          </div>
          <div class='column wide'>
            <input class='recipe filter input' type='search' data-model='recipe' data-name='ingredients' value='Ingredients'>
          </div>
          <div class='column slim'>
            <select class='recipe filter select' data-model='recipe' data-name='pasta'>
              <option value="" selected>Pasta</option>
              <option value="no pasta">No pasta</option>
              {% for pasta in pastas %}
              <option value = {{pasta.name}}>{{pasta.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class='column slim'>
            Price
          </div>
        </div>
      <div  id='recipe_wrapper'>
      </div>
    </div>
    <div class='browse' id='blackboards_tab_div'>
      <div class='filters item_container'>
        <div class='column first ultra-slim'>
          <input class='blackboard input filter' type='search' data-model='blackboard' data-name='date' value='Date'>
        </div>
        <div class='column wide'>
          <input class='blackboard input filter' type='search' data-model='blackboard' data-name='recipes' value='Recipes'>
        </div>
      </div>
      <div id='blackboards_wrapper'>
        
      </div>
    </div>
</div>
{% endblock %}
