{% extends 'Blackboard/layout.html' %}

{% block body %}
<div class='staff'>
  <nav class='staff_nav'>
    <div class='staff_menu'>
        <div data-mode='selected' id='ingredients_tab' class='nav_div_item staff_tab'>
          <a class='nav-link'>Ingredients</a>
        </div>
        <div data-mode='not_selected' id='recipes_tab' class='nav_div_item staff_tab'>
          <a class='nav-link'>Recipes</a>
        </div>
        <div data-mode='not_selected' id='blackboards_tab' class='nav_div_item staff_tab'>
          <a class='nav-link'>Blackboards</a>
        </div>
    </div>
  </nav>
    <div class='browse' id='ingredients_tab_div'>
      <div class='recipe_filter'>
        Tu pola do Filtrowania
      </div>
      <div id='ingredients_wrapper'>
      </div>
    </div>
    <div class='browse initial' id='recipes_tab_div'>
      <div class='recipe_filter'>
        Tu pola do Filtrowania
      </div>
      <div class='query' id='recipe_wrapper'>
        <div class='recipe_container'>
          <div class='recipe_name column'>
            Name
          </div>
          <div class='recipe_season column'>
            Season
          </div>
          <div class='recipe_type column'>
            Type
          </div>
          <div class='recipe_keyingredient column'>
            Key Ingredient
          </div>
          <div class='recipe_ingretients column'>
            Ingredients
          </div>
          <div class='recipe_pasta column'>
            Pasta
          </div>
          <div class='recipe_price column'>
            Price
          </div>
        </div>
      </div>
      <form method='post'>
        {%for form in recipe_form%}
        {{form}}
        {%endfor%}
      </form>
    </div>
    <div class='browse' id='blackboards_tab_div'>
      <div class='recipe_filter'>
        Tu pola do Filtrowania
      </div>
      <div id='blackboards_wrapper'>
      </div>
    </div>
</div>
{% endblock %}
