{% extends 'Blackboard/layout.html' %}

{% block body %}
<div class='popup' id='recipe_add'>
  <button class='popup_button close_btn' data-assignedTo='recipe_add'>
    <div class='icon center'>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
      </svg>
    </div>
  </button>
  <form id='recipe_form' method='Post' action='/add_item/recipe'>
    {% csrf_token %}
    {% for field in recipe_form %}
    <div class='form_field'>
      <h5 class='label'>
      {{field.label}}
      </h5>
      {% if field.name == 'ingredients'%}
      <div class='dropdown_container'>
        <input type='text' disabled>
        <button type='button' class='dropbtn' data-assignedTo='dropdown_ingredients'>
          <svg class='dropicon' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-menu-down" viewBox="0 0 16 16">
            <path d="M7.646.146a.5.5 0 0 1 .708 0L10.207 2H14a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h3.793L7.646.146zM1 7v3h14V7H1zm14-1V4a1 1 0 0 0-1-1h-3.793a1 1 0 0 1-.707-.293L8 1.207l-1.5 1.5A1 1 0 0 1 5.793 3H2a1 1 0 0 0-1 1v2h14zm0 5H1v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2zM2 4.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
          </svg>          
        </button>
      </div>
      <div class='dropdown' id='dropdown_ingredients'>
        <input class='checkbox_filter' type='text' placeholder='Filter..'>
        {{ field }}
      </div>
      
      {% elif field.name == 'key_ingredients'%}
      <div class='dropdown_container'>
        <input type='text' disabled>
        <button type='button' class='dropbtn' data-assignedto='dropdown_keyingredients'>
          <svg class='dropicon' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-menu-down" viewBox="0 0 16 16">
            <path d="M7.646.146a.5.5 0 0 1 .708 0L10.207 2H14a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h3.793L7.646.146zM1 7v3h14V7H1zm14-1V4a1 1 0 0 0-1-1h-3.793a1 1 0 0 1-.707-.293L8 1.207l-1.5 1.5A1 1 0 0 1 5.793 3H2a1 1 0 0 0-1 1v2h14zm0 5H1v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2zM2 4.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </button>
      </div>
      <div class='dropdown' id='dropdown_keyingredients'>
        <input class='checkbox_filter' type='text' placeholder='Filter..'>
        {{field}}
      </div>
      {% elif field.name == 'pasta' %}
      <div class='dropdown_container'>
        <input type='text' disabled>
        <button type='button' class='dropbtn' data-assignedTo = 'dropdown_pasta'>
          <svg class='dropicon' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-menu-down" viewBox="0 0 16 16">
            <path d="M7.646.146a.5.5 0 0 1 .708 0L10.207 2H14a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h3.793L7.646.146zM1 7v3h14V7H1zm14-1V4a1 1 0 0 0-1-1h-3.793a1 1 0 0 1-.707-.293L8 1.207l-1.5 1.5A1 1 0 0 1 5.793 3H2a1 1 0 0 0-1 1v2h14zm0 5H1v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2zM2 4.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </button>
      </div>
      <div class='dropdown' id='dropdown_pasta'>
        <input class='checkbox_filter' type='text' placeholder='Filter..'>
        {{field}}
      </div>
      {% else %}
        {{field}}
      {% endif %}

    </div>
    {% endfor %}
    <input class='submit_btn' type='submit' value='Submit'>
  </form>
</div>
<div class='main staff'>
  <nav class='staff_nav'>
    <div class='staff_menu'>
        <div data-mode='not_selected' id='ingredients_tab' class='nav_div_item staff_tab'>
          <a class='nav-link'>Ingredients</a>
        </div>
        <div data-mode='selected' id='recipes_tab' class='nav_div_item staff_tab'>
          <a class='nav-link'>Recipes</a>
        </div>
        <div data-mode='not_selected' id='blackboards_tab' class='nav_div_item staff_tab'>
          <a class='nav-link'>Blackboards</a>
        </div>
    </div>
  </nav>
    <div class='browse' id='ingredients_tab_div'>
      <div class = 'filters item_container'>
        <div class = 'column first ultra-slim'>
          <select class='select ingredients filter' data-model='ingredients' data-name='type'>
            <option value='' selected>Type</option>
            <option value='ingredient'>Ingredient</option>
            <option value='keyingredient'>Key Ingredient</option>
            <option value='pasta'>Pasta</option>
          </select>
        </div>
        <div class='column wide'>
          <input class='input ingredients filter' data-model='ingredients' data-name='name' value='Name'>
        </div>
      </div>
      <div class='form' id='ingredients_form' display='none'>
        <form id='ingredient_form' class='item_container' method='Post' action='/add_item/ingredient'>
          {% csrf_token%}
          <div class='column first ultra-slim'>
            {{ ingredient_form.type }}
          </div>
          <div class='column wide'>
          {{ingredient_form.name}}
          </div>
        </form>
        <input class='form_button' form='ingredient_form' value='+' type='submit'>
      </div>
      <div id='ingredients_wrapper'>
      </div>
    </div>
    <div class='browse initial' id='recipes_tab_div'>
        <button type='button' class='popup_button open_btn' data-assignedTo='recipe_add'>
          <div class='center icon'>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
          </div>
          <div class='center' style='height:2em'>
          Add a new recipe
          </div>
        </button>
        <div class='filters item_container'>
          <div class='column first wide'>
            <input class='recipe filter input' type='search' data-model='recipe' data-name='name' value='Name'>
          </div>
          <div class='recipe_season column slim'>
            <select class='recipe filter select' data-model='recipe' data-name='season'>
              <option value=""  selected>Season</option>
              <option value="Spring">Spring</option>
              <option value="Summer">Summer</option>
              <option value="Fall">Fall</option>
              <option value="Winter">winter</option>
            </select>
          </div>
          <div class='column slim'>
            <select class='recipe filter select' data-model='recipe' data-name='type'>
              <option value="" selected>Type</option>
              <option value="Starter">Starter</option>
              <option value="Main">Main</option>
              <option value="Dessert">Dessert</option>
            </select>
          </div>
          <div class='column wide'>
            <input class='recipe filter input' type='search' data-model='recipe' data-name='key_ingredient' value='Key Ingredient'>
          </div>
          <div class='column wide'>
            <input class='recipe filter input' type='search' data-model='recipe' data-name='ingredients' value='Ingredients'>
          </div>
          <div class='column slim'>
            <select class='recipe filter select' data-model='recipe' data-name='pasta'>
              <option value="" selected>Pasta</option>
              <option value="no pasta">No pasta</option>
              {% for pasta in pastas %}
              <option value = {{pasta.name}}>{{pasta.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class='column slim'>
            Price
          </div>
        </div>
      <div  id='recipe_wrapper'>
      </div>
    </div>
    <div class='browse' id='blackboards_tab_div'>
      <div class='filters item_container'>
        <div class='column first ultra-slim'>
          <input class='blackboard input filter' type='search' data-model='blackboard' data-name='date' value='Date'>
        </div>
        <div class='column wide'>
          <input class='blackboard input filter' type='search' data-model='blackboard' data-name='recipes' value='Recipes'>
        </div>
      </div>
      <div id='blackboards_wrapper'>
        
      </div>
    </div>
</div>
{% endblock %}
